:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* font-size 1em = 10px */
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--subtitle);
    text-align: center;

    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


header {
    padding: 6rem 3rem 3rem 3rem;
}

header h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 6rem;
    color: var(--title);
}

header .logo {
    width: 8.7rem;
    height: 6.2rem;
}

main {
    display: flex;
    flex-direction: column;
}

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
} 

#movie-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
    
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-items .poster {
    flex: 0 0 40%;
}

.movie-items.description {
    flex: 0 0 60%;
    text-align: left;
}

#poster {
    width: 20rem;
    height: auto;
}

#titleMovie {
    color: var(--title);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

#resumeMovie {
    line-height: 24px;
    padding-top: 1rem;
}

section {
    padding: 1rem 0;
}

.btn {
    width: 18rem;
    height: 4.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #000000;
    background-color: var(--bg-button);
    border: 0.2rem solid #1A1A1A;
    border-radius: 0.5rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem #000;
}

.logo-btn {
    width: 3.5rem;
    vertical-align: middle;
    padding-right: 0.5rem;
}


footer {
    padding: 3rem;
    font-size: 1.4rem;
}

footer p {
    width: 40rem;
    margin: 0 auto;
}